*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: Inter, sans-serif;
    background-color: #282d35;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222a;
    height: 80px;
    padding: 30px 25px;
    /* justify-content: space-between; */
 
}

nav h3 h4 {
    margin:0px;
}

nav h3{
    margin-right: auto;
    color:#61dafb;
    font-weight: 700;
    font-size: 22px;
}

nav h4{
    color:#deebf8;
    font-weight: 600;
}

nav img{
    height: 30px;
    margin-right: 7px;
}

.center-items{
    padding: 57px 27px;
    color: white;
    background-image: url(./Components/Images/reactjs-icon2.png);
    background-repeat: no-repeat;
    background-position:right center;
    flex-wrap: wrap;
    
}
.center-items h1{
    font-size: 2.7em;
    letter-spacing: -0.1rem;
}
.center-items ul{
    margin-top: 20px;
    font-size: 25px;
    max-width: 600px;
} 
.center-items ul>li{
    padding-block: 10px;
}
.center-items ul>li::marker{
    font-size: 1.5rem;
    color: #61dafb;
}

.footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background:grey;
    /* margin-left: -8px; */
}
